{% extends '../base.html' %}
{% block title %} Rejestracja {% endblock %}

{% block body %}
<div class="row">
  <div class="col-4">

  </div>
  <div class="col-4">
    <form method="post" action="{% url 'register' %}">
      {% csrf_token %}

      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}

      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
      {% elif email_used %}
      <p>{{ email_used}}</p>
      {% endif %}


      {% for field in form.visible_fields %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
        </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary form-control">Zarejestruj</button>
    </form>
  </div>
  <div class="col-4">

  </div>
</div>


  </div>


</form>
{% endblock %}
