{% extends "./base.html" %}
{% load crispy_forms_tags %}
{% block title%}Dodaj przepis {% endblock%}
{% block body %}
<div class="row">
  <div class="col-3">

  </div>
  <div class="col-6">
    <h4>Przed edycją przepisu upewnij się, że produkty, których potrzebujesz są w bazie</h4>




               {% crispy form %}

      <p><a href="{% url 'addProduct' %}"><button type="button" class="btn btn-primary" name="button">Dodaj produkt</button></a></p>
  </div>
  <div class="col-3">

  </div>
</div>
<br>


{% endblock  %}
