{% extends './base.html' %}
  {%block title %}Przepisy{% endblock %}

  {%block body %}
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Nazwa</th>
      <th scope="col">Tagi</th>
      <th scope="col">Ostatnio używany</th>
      <th scope="col">Akcja</th>
    </tr>
  </thead>
  <tbody>
    {% for r in recipes %}
    <tr>
      <td><a href="{% url 'recipe' pk=r.pk %}">{{r.name}}</a></td>
      <td>{% if r.tags %}
        {% for t in r.tags.all%}
        <a href="{% url 'main_filtered' tag=t.id %}">{{t}}</a>
        {% endfor %}
         {% else %}
         Brak tagów
          {%endif%}</td>
      <td>{{r.last_used_info}}</td>
      {% if r.chosen == True %}
      <td><a href="{% url 'removeFromBasket' pk=r.pk %}"><button type="button" class="btn btn-danger">Usuń z wybranych</button></a></td>
      {% else %}
      <td><a href="{% url 'addToBasket' pk=r.pk %}"><button type="button" class="btn btn-success">Dodaj do wybranych</button></a></td>
      {% endif %}
    </tr>
    {% endfor %}

  </tbody>
</table>

  <a href="{% url 'basket' %}"><button type="button" class="btn btn-primary">Przejdź do wybranych przepisów</button></a>
  {% if filtered %}
  <a href="{% url 'main' %}"><button type="button" class="btn btn-primary">Wyłącz filtrowanie</button></a>
  {% endif %}
  <a href="{% url 'add_recipe' %}"><button type="button" class="btn btn-primary">Dodaj przepis</button></a>
    <a href="{% url 'advanced_filter' %}"><button type="button" class="btn btn-primary">Szukanie zaawansowane</button></a>

  {% endblock %}
